<div class="col-md-6 col-md-offset-3">
  <div class="new-book-form">
<h1>Edit Book </h1>
<%= simple_form_for @book,:html => { :multipart => true } do |f| %>
  <%= f.select :category_id , @category %>
  <%#= f.file_field :image %>
  <%= f.file_field :book_image %>
  <%= f.input :title, label: "Book Title" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :author, label: "Author" %>
      <%= f.input :ISBN_number, label: "ISBN Number", placeholder:"ISBN-XXXXXX"  %>
  <%= f.button :submit, :class => "btn-custom2" %>
      <%= link_to "Back" ,books_path, class: "btn btn-custom2"%>
<% end %>
    </div>
</div>