
<div class="row">
  <div class="col-md-4">
    <%= image_tag url_for(@book.book_image), class: "book"%>
    <br>
    <h2>Reviews and Rating</h2>
    <%= render @book.reviews %>
    <br>

<!--    Review.present?-->
    <% unless   Review.present? %>


      <% else %>


      <div class="links btn-group">
        <%= link_to "Add Review", new_book_review_path(@book) , class: "btn btn-custom" %>
      </div>

      <% end %>






    <br>
    <br>
    <div class="links btn-group">
      <%= link_to "Back" ,books_path , class: "btn btn-custom2" %>
      <% if current_user.role_id == 1 || current_user.role_id == 2  %>
        <%= link_to "Edit Book", edit_book_path(@book) ,class: "btn btn-custom2"  %>
        <%= link_to "Delete Book", book_path(@book),method: :delete , data: { confirm: "Are you sure?"} , class: "btn btn-custom2"%>
      <% end %>
    </div>
    <br>


  </div>

  <div class="col-md-8">
    <h1><%= @book.title %></h1>
    <h2><%= @book.author %></h2>
    <h2>Average rating</h2>
    <div>
      <% (1 .. @average_review).each do %>
        <%= image_tag '/assets/star-on.png' %>
      <% end %>
    </div>
    <span>Based on <%= @book.reviews.count %> reviews </span>
    <h3>Category: <%= @book.category.name %></h3>

    <p><%= @book.description %></p>

    <h2>ISBN number</h2>
    <p><%= @book.ISBN_number %></p>
  </div>


</div>




